<!DOCTYPE html>
<html>
    <head>
        <title>Todo List</title>
        <link rel="stylesheet" type="text/css" href="app.css">
        <script
              src="https://code.jquery.com/jquery-3.3.1.min.js"
              integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
              crossorigin="anonymous"></script>
        <link href="https://fonts.googleapis.com/css?family=Roboto:400,500,700" rel="stylesheet">
	    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    </head>
    <body>
        <div id="container">
        	<h1>To-Do List<i class="far fa-edit"></i></h1>
        	<input type="text" placeholder="Add New Todo">
        	<ul>
        		<li><span><i class="fas fa-trash-alt"></i></span>Walk the dogs</li>
        		<li><span><i class="fas fa-trash-alt"></i></span>Take out the trash</li>
        		<li><span><i class="fas fa-trash-alt"></i></span>Go to the store</li>
        	</ul>
        </div>
        
        <script type="text/javascript" src="todos.js"></script>
    </body>
</html>